/**
 * Author：tantingting
 * Time：2018/6/26
 * Description：Description
 */
@import "../../../libs/scss/rem";

.page2 {
    background: url("../../img/index/1920-page2-bg.jpg") center top no-repeat;
    background-size: 1920px 1162px;
    width: 100%;
    height: 1162px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0;
    color: #fff;

    .page2-cont {
        padding-top: 840px;

        h2 {
            font-size: 60px;
            margin-bottom: 30px;
            font-family: 'fzlttx';
        }

        p {
            font-size: 28px;
            color: #d7e5ed;

            .text-division-960 {
                display: none;
            }
        }

        a {
            font-size: 28px;
            color: #3ac8fd;
            margin-top: 90px;
            display: inline-block;
            position: relative;

            &:after {
                content: '';
                display: block;
                background: url("../../img/1920-right-blue.png") no-repeat;
                width: 12px;
                height: 24px;
                position: absolute;
                top: 6px;
                right: -24px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .page2 {
        background: url("../../img/index/960-page2-bg.jpg") #000101 center top no-repeat;
        background-size: rem(640) rem(597);
        height: rem(596);
        overflow: hidden;

        .page2-cont {
            padding-top: rem(410);

            h2 {
                font-size: rem(41);
                margin-bottom: rem(28);
            }

            p {
                line-height: rem(28);
                font-size: rem(20);

                .text-division-1920 {
                    display: none;
                }

                .text-division-960 {
                    display: block;
                    width: 100%;
                }
            }

            a {
                font-size: rem(20);
                margin-top: rem(20);

                &:after {
                    background: url("../../img/960-right-blue.png") no-repeat;
                    width: rem(7);
                    height: rem(14);
                    top: rem(4);
                    right: rem(-20);
                    background-size: contain;
                }
            }
        }
    }
}
