<div class="contact-warp">
    <div class="content-top">
        <p>
            蓝港科技成立于2014年，是一家专注于人工智能技术的研究和视听娱乐科技产品开发的创新型企业。公司于2018年推出具有高品质音质的人工智能产品-小青AI音箱，采用创新性专利音腔体设计结合先进的音频芯片技术，还原真实的音乐现场，被媒体公认为音质最好的智能音箱。同时在人工智能语音互动技能产品的研发上，蓝港科技领跑国内语音互动游戏技能行业，建立小青智趣语音互动游戏平台，推出多款有趣好玩的语音互动游戏，除了在自有小青AI音箱上可以玩，还同步上线到百度、小米、京东等多个语音产品平台，深受用户的喜爱。立足人工智能打造科技生态，蓝港科技以小青AI音箱系列产品为入口，为房地产、酒店等行业提供智能化的解决方案，携手企业助力智慧城市建设，通过优秀的产品体验和服务创造价值。
        </p>
    </div>
    <div class="contact-contain">
        <div class="c-box clearfix">
            <div class="img-bg bj-img"></div>
            <div class="info">
                <h2>蓝港科技-北京</h2>
                <p>电话：010-84170099-5601</p>
                <p>传真：010-84170099-3000</p>
                <p>地址：北京市朝阳区望京科技园启明国际大厦3层</p>
                <p>邮编：100102</p>
                <p>邮箱：support@xiaoqing.ai</p>
            </div>
        </div>
        <div class="c-box clearfix">
            <div class="img-bg sz-img"></div>
            <div class="info">
                <h2>蓝港科技-深圳研发中心</h2>
                <p>电话：0755-86562690</p>
                <!--<p>传真：010-84170099-3000</p>-->
                <p>地址：深圳市南山区软件产业基地4栋A座205</p>
                <p>邮编：518061</p>
                <p>邮箱：support@xiaoqing.ai</p>
            </div>
        </div>
    </div>
</div>
