/**
 * Author：tantingting
 * Time：2018/7/19
 * Description：Description
 */
@import "../../../libs/scss/rem";

@media screen and (min-width: 641px) {
    body {
        min-width: 1320px;
    }
}

.contact-warp {
    .content-top {
        background: url("../../img/contact/1920-bg.jpg") top center no-repeat;
        background-size: 1920px 955px;
        width: 100%;
        min-height: 955px;
        padding-top: 585px;
        box-sizing: border-box;

        p {
            font-size: 30px;
            color: #000;
            line-height: 56px;
            margin: 0 (90 / 1920) * 100% 0;
            text-indent: 60px;
        }
    }

    .contact-contain {
        //width: 1740px;
        margin: 20px (90 / 1920) * 100% 0;
        color: #545454;
        font-size: 20px;

        .c-box {
            background-color: #fff;
            margin-bottom: 20px;

            .img-bg {
                float: right;
                width: 563px;
                height: 570px;

                &.bj-img {
                    background: url("../../img/contact/1920-bj-img.jpg") no-repeat;
                }

                &.sz-img {
                    background: url("../../img/contact/1920-sz-img.jpg") no-repeat;
                }
            }

            .info {
                float: left;
                margin-left: 100px;
                margin-top: 110px;

                h2 {
                    font-size: 40px;
                    margin-bottom: 70px;
                    font-family: 'fzlttx';
                }

                p {
                    margin-bottom: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .contact-warp {
        .content-top {
            background: url("../../img/contact/960-bg.jpg") top center no-repeat;
            background-size: rem(640) rem(867);
            width: 100%;
            min-height: rem(867);
            padding-top: rem(395);

            p {
                font-size: rem(20);
                line-height: rem(38);
                width: rem(561);
                margin: 0 auto;
                text-indent: rem(30);
            }
        }

        .contact-contain {
            width: rem(621);
            margin: rem(18) auto 0;
            font-size: rem(20);

            .c-box {
                margin-bottom: rem(15);

                .img-bg {
                    float: none;
                    width: rem(621);
                    height: rem(265);

                    &.bj-img {
                        background: url("../../img/contact/960-bj-img.jpg") no-repeat;
                        background-size: contain;
                    }

                    &.sz-img {
                        background: url("../../img/contact/960-sz-img.jpg") no-repeat;
                        background-size: contain;
                    }
                }

                .info {
                    float: none;
                    //margin-left: rem(56);
                    //margin-top: rem(68);
                    //margin-bottom: rem(68);
                    margin: 0;
                    padding: rem(68) 0 rem(68) rem(56);

                    h2 {
                        font-size: rem(31);
                        margin-bottom: rem(42);
                    }

                    p {
                        margin-bottom: rem(18);
                    }
                }
            }
        }
    }
}
