<div class="buy" id="buy">
    <div class="buy-con">
        <p class="title">购买页面</p>
        <!--<p class="price">¥ <span>1599</span></p>-->
        <div class="buy-ewm">
            <p><img src="../../img/xcxwem.png" alt=""></p>
        </div>
        <p class="sys"><img src="../../img/sys.png" alt=""></p>
        <p class="sys-m"><img src="../../img/sys-m.png" alt=""></p>
    </div>
</div>

<div class="shade"></div>