<nav class="xq-nav" id="xqNav">
    <div class="xq-nav-con">
        <div class="xq-nav-btn" id="xqNavBtn"></div>
        <div class="xq-nav-link" id="xqNavLink">
            <ul>
                <li class="xq-nav-first"><span id="xqNavClose"><img src="../../img/svg/close.svg"></span></li>
                <li class="<%= current === 'index' ? 'active' : '' %>"><a href="./index.html">首页</a></li>
                <li class="<%= current === 'size' ? 'active' : '' %>"><a href="./size.html">规格</a></li>
                <li class="<%= current === 'game' ? 'active' : '' %>"><a href="./game.html">技能</a></li>
                <li class="<%= current === 'app' ? 'active' : '' %>"><a href="./app.html">APP</a></li>
            </ul>
        </div>
        <a class="buy-now" href="">立即购买</a>
    </div>
</nav>