/**
 * Author：zhoushuanglong
 * Time：2018-01-16 10:54
 * Description：footer
 */
@import '../../../libs/scss/rem';

.buy {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;
    width: 400px;
    height: 400px;
    background: #fafafa;
    border-radius: 5px;
    z-index: 1005;
    display: none;

    &.show {
        display: block;
    }

    .buy-con {
        width: 100%;
        margin-top: 50px;

        .title {
            text-align: center;
            font-size: 18px;
            color: #37474f;
            line-height: 50px;
        }

        .price {
            font-size: 20px;
            color: #ef5350;
            font-weight: bold;
            text-align: center;
            line-height: 70px;

            span {
                font-size: 36px;
            }
        }

        .buy-ewm {
            width: 170px;
            height: 150px;
            margin: 0 auto;
            background: #f7f8fa;
            border-radius: 5px;
            //padding-top: 10px;

            p {
                width: 170px;
                height: 150px;
                background: #fff;
                border-radius: 5px;
                margin: 0 auto;

                img {
                    display: block;
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    //padding-top: 5px;
                }
            }
        }

        .sys,
        .sys-m {
            width: 241px;
            height: 54px;
            margin: 40px auto 0;
            display: none;
        }

        .sys {
            display: block;
        }
    }
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.6);
    display: none;

    &.show {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .buy {
        margin: rem(-200) 0 0 rem(-200);
        width: rem(400);
        height: rem(400);

        .buy-con {
            width: 100%;
            margin-top: rem(50);

            .title {
                font-size: rem(24);
                color: #37474f;
                line-height: rem(60);
            }

            .price {
                font-size: rem(20);
                color: #ef5350;
                font-weight: bold;
                text-align: center;
                line-height: rem(45);

                span {
                    font-size: rem(36);
                }
            }

            .buy-ewm {
                width: rem(170);
                height: rem(150);

                p {
                    width: rem(160);
                    height: rem(150);
                    border-radius: rem(5);

                    img {
                        display: block;
                        width: rem(150);
                        height: rem(150);
                        padding-top: rem(5);
                    }
                }
            }

            .sys,
            .sys-m {
                width: rem(241);
                height: rem(54);
                margin: rem(40) auto 0;
                display: none;

                img {
                    width: rem(241);
                    height: rem(54);
                }
            }

            .sys-m {
                display: block;
            }
        }
    }
}
