<div class="page1">
    <div class="breath-light one" id="breathLight">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="green"><em></em></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="animate">
        <h1>音质超赞的小青AI音箱</h1>
        <p>搭载百度对话式人工智能操作系统</p>
    </div>
</div>