<div class="page3">
    <div class="img-left"></div>
    <div class="img-right"></div>
    <div class="page3-cont">
        <div class="animate">
            <h2>力邀国际电音专家倾力打造</h2>
            <p>创新性专利音腔体设计结合先进的音频芯片技术<span class="text-division-1920">，</span><span class="text-division-960"></span>还原真实的音乐现场</p>
            <a class="video-play" data-src="https://tdl01.8864.com/lkcps/men_of_sound_dual_subs-1.mp4" href="javascript:void(0)">欣赏记录影片《 MAN OF SOUND 》</a>
        </div>
    </div>
</div>