<div class="page2">
    <div class="page2-cont">
        <div class="animate">
            <h2>造型温暖 手感柔软</h2>
            <p>硅谷工业设计团队设计，拟人化造型设计<span class="text-division-1920">，</span><span class="text-division-960"></span>家居环境中亲切的好朋友</p>
            <a href="./atlas.html">了解更多外观</a>
        </div>
    </div>
</div>