<div class="page4">
    <div class="page4-structure">
        <div class="left left-mkf">
            <div class="desc">
                <h4>远场拾音降噪麦克风</h4>
                <p>业界领先的Blinding Source Separation麦克风方案，有效消除回音和降噪</p>
            </div>
            <div class="line"></div>
        </div>
        <div class="left left-360yz">
            <div class="desc">
                <h4>360°导音锥</h4>
                <p>无论哪个角度都可以获得最佳聆听体验，通过constant horm directivity专利技术，低音柔和不生硬，高音反射效果高且不失真</p>
            </div>
            <div class="line"></div>
        </div>
        <div class="right right-dsp">
            <div class="desc">
                <h4>DSP数字芯片</h4>
                <p>国际领先的计算芯片，内置DSP以及立体声数字功放，7段EQ设置使高低音独立分频，达到发烧级别音质</p>
            </div>
            <div class="line"></div>
        </div>
        <div class="right right-525ysq">
            <div class="desc">
                <h4>5.25寸中低音超大扬声器</h4>
                <p>芬兰阔叶木纸桨结合内凹式的防尘槽设计，低音单元高度下沉10mm，使空气解除面积更多，搭载85mm大磁铁，低音效果饱满有力</p>
            </div>
            <div class="line"></div>
        </div>
    </div>
    <div class="music-wave" id="musicWave">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>