<div class="page6">
    <div class="animate">
        <h3>感受小青的魅力</h3>
        <a class="video-play" data-src="http://tdl01.8864.com/lkcps/WeChatSight649.mp4" href="javascript:void(0)">欣赏产品体验视频</a>
    </div>
</div>