<div class="page5">
    <div class="skill-warp">
        <ul class="skill-list">
            <li class="skill-item prev">“小青小青，来首歌”</li>
            <li class="skill-item curr">“小青小青，我想听郭德纲的相声”</li>
            <li class="skill-item next">“小青小青，播放中国之声”</li>
            <li class="skill-item">“小青小青，我想听评书”</li>
            <li class="skill-item">“小青小青，我想听小说”</li>
            <li class="skill-item">“小青小青，今天天气怎么样”</li>
            <li class="skill-item">“小青小青，打开猎杀恶魔”</li>
            <li class="skill-item">“小青小青，我想听科技新闻”</li>
            <li class="skill-item">“小青小青，给我讲个笑话”</li>
            <li class="skill-item">“小青小青，我想听小猪佩奇”</li>
            <li class="skill-item">“小青小青，我想听科技新闻”</li>
            <li class="skill-item">“小青小青，一块蛋糕的热量多少”</li>
            <li class="skill-item">“小青小青，人民币兑英镑汇率多少”</li>
            <li class="skill-item">“小青小青，12乘5加8等于多少”</li>
            <li class="skill-item">“小青小青，漂亮用英语怎么说”</li>
            <li class="skill-item">“小青小青，设置5分钟计时器”</li>
        </ul>
    </div>
    <div class="app-img"></div>
    <div class="content-list clearfix">
        <div class="list-item">
            <h6>音乐曲库</h6>
            <p>5000万+</p>
        </div>
        <div class="list-item">
            <h6>音乐专辑</h6>
            <p>440万+</p>
        </div>
        <div class="list-item">
            <h6>累计问答数</h6>
            <p>24亿+</p>
        </div>
        <div class="bottom-list">
            <div class="list-item">
                <h6>母婴儿童内容</h6>
                <p>1亿+</p>
            </div>
            <div class="list-item">
                <h6>百科信息</h6>
                <p>1400万+</p>
            </div>
        </div>
    </div>
</div>