<div class="page7">
    <div class="page7-top">
        <div class="animate">
            <h3>满足衣食住行，生活小乐趣</h3>
            <p>小青匹配各种生活技能，满足衣食住行，<span class="text-division-960"></span>独家开发50多款语音游戏娱乐技能，让你的生活多点小乐趣</p>
        </div>
        <div class="offset30">
            <div class="yy-img"></div>
            <div class="jn-loading">技能持续接入中...</div>
        </div>
    </div>
    <div class="page7-bottom offset30">
        <div class="animate">
            <h3>万物互联，语音新生活</h3>
            <p>拥有小青，享受更好的生活方式<span class="text-division-1920">。</span><span class="text-division-960"></span>我们将持续接入更多智能设备，丰富你的智能生活</p>
        </div>
        <div class="offset30">
            <div class="sb-list clearfix">
                <div class="sb-item">
                    <div class="img-znd"></div>
                    <label>智能灯</label>
                </div>
                <div class="sb-item">
                    <div class="img-kg"></div>
                    <label>开关插座</label>
                </div>
                <div class="sb-item">
                    <div class="img-dsj"></div>
                    <label>电视机</label>
                </div>
                <div class="sb-item">
                    <div class="img-tdj"></div>
                    <label>拖地机</label>
                </div>
                <div class="se-box-960">
                    <div class="sb-item">
                        <div class="img-jhq"></div>
                        <label>空气净化器</label>
                    </div>
                    <div class="sb-item">
                        <div class="img-kt"></div>
                        <label>空调</label>
                    </div>
                    <div class="sb-item">
                        <div class="img-cl"></div>
                        <label>窗帘</label>
                    </div>
                </div>
            </div>
            <a class="more-btn" href="./devices.html">查看更多设备</a>
        </div>
    </div>
</div>