<!--footer-->
<footer>
    <div class="contact clearfix">
        <div class="link">
            <a href="http://new.linekong.com/" target="_blank">蓝港集团</a>
            <a href="./fun-contact.html" target="_blank">关于我们</a>
        </div>
        <div class="ewm-box platform-ewm-box">
            <div class="zqgzh-ewm-box">
                <div class="zqgzh-ewm-img"></div>
                <span>小青智趣公众号</span>
            </div>
        </div>
    </div>
    <div class="bottom clearfix">
        <div class="bottom-top">
            <div class="logo"></div>
            <span>Copyright © 2007-<%= new Date().getFullYear() %> xiaoqing.store, All Rights Reserved</span>
        </div>
        <a class="bottom-bah" target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备18015832号</a>
    </div>
</footer>